##exportPattern("^[[:alpha:]]+")

 export(cleanFlux,
	despiking,
	ecworkset,
	eddypro_run,
	get_md,
	inst_prob_test,
	mahrt,
	robf_despiking,
	qcStat,
	tlag_detection,
	mode)
	
import(utils)
import(bit64)


importFrom("stats", "ccf", "cov", "lm", "median", "na.omit", "na.pass", "quantile", "time", "ts", "window", "rnorm", "as.ts", "ar.ols", "acf")
importFrom("utils", "write.table")
importFrom("data.table", "fread", "fwrite", "shift")
importFrom("xts", "xts", "period.apply", "endpoints")
importFrom("stlplus", "stlplus")
importFrom("alphaOutlier", "aout.laplace")
importFrom("robustbase", "Qn")
importFrom("robfilter", "rm.filter", "hybrid.filter")
importFrom("future.apply", "future_apply")
importFrom("egcm", "detrend")
importFrom("timeDate", "kurtosis", "skewness")
importFrom("imputeTS", "statsNA")
importFrom("stringr", "str_sub")
importFrom("zoo", "rollapply", "coredata", "na.approx", "na.locf")
importFrom("grDevices", "dev.off", "jpeg")
importFrom("graphics", "axis", "box", "legend", "mtext", "par", "plot", "points", "abline", "lines", "hist")
importFrom("car", "Boxplot")
importFrom("future", "plan", "multicore")
importFrom("lubridate", "round_date")
importFrom("MASS", "rlm")
importFrom("gtools", "odd")
